*{
  box-sizing:border-box;
  -moz-box-sizing:border-box;
}

html,body{
  height:100% !important;
}

thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

body{
  margin:0;
  font-size:12px;
  font-family: "Open Sans";
  color: #88889e;
  background: rgb(247, 247, 247);
}

button,input,textarea{
  background:none;
  border:none;
  margin:0;
  padding:0;
  outline:none;
}

ul,li{
  margin:0;
  padding:0;
}


.hide{
  display:none;
}

.disable{
  opacity:0.7;
  cursor:default !important;
}

.flex-space > *{
  margin:0 5px;
}

.flex{
  display:flex;
}

.flex-center{
  display:flex;
  align-items:center;
  justify-content:center;
}

.fluid-center {
  align-items:center;
  justify-content:center;

}

.flex-fill{
  flex-grow:1;
}

.flex-space-5{
  margin:0 5px;
}

.fill {
  flex-grow: 1;
}

.fluid {
  display: flex;
}

.full-height {
    min-height: 100vh;
}

.container-h{
  position:relative;
  width:100%;
  display:flex;
  min-height: 100vh;
}

.form-group {
  position: relative;
  margin-top: 30px;
  margin-bottom: 5px;
}

.form-control {
  border: none;
  padding: 5px 2px;
  border-bottom: 1px solid #efefef;
  border-radius:0;
  background: transparent;
  z-index:2;
  position: relative;
  font-size: 14px;
  height: 34px;
}

.form-control ~ label {
  top: -5px;
  position: absolute;
  transition: top 0.1s;
  opacity: 0.5;
  font-size: 15px;
}

.form-control:not(:placeholder-shown) ~  label, .form-control:focus ~ label {
  top: -17px;
  z-index: 3;
  font-size:13px;
  opacity: 0.8;
}

.form-control:focus ~ label {
  color: #5cb3fd;
  opacity: 1.0;
}

.form-group.error:focus .form-control ~ label {
  color: #E53935;
}

.form-control:focus {
  border-bottom: 1px solid #efefef;
  background: initial;
  color: inherit;
  box-shadow: none;
}

.form-highlight {
  position:absolute;
  height:2px;
  width:100px; 
  bottom: 0px; 
  left:50%;
  margin-left: -50px;
  pointer-events:none;
  margin: 0 auto;
  transition: 0.3s;
}

.form-group {
  height: auto;
}


.error {
  color: #E53935;
}

.form-control:not(:placeholder-shown):invalid ~ label{
  color: #E53935;
}

/* active state */
.form-group.error .form-highlight, .form-control:focus ~ .form-highlight, .form-control:not(:placeholder-shown):invalid ~ .form-highlight {
  background: #5cb3fd;
  width:100%; 
  margin-left: 0; 
  left: 0; 
  z-index: 4;
}

.form-group.error .form-highlight, .form-control:not(:placeholder-shown):invalid ~ .form-highlight {
  background: #E53935;
}

.logo {
    max-width: 100px;
    margin: -2px;
}
    

body {
    background-color: #52525d;
}

.paper {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
    background: white;
}

.btn {
  outline: none;
  border: none;
  border-radius: 0;
}

.btn-primary {
  background: #505061;
}

.btn-primary:hover {
  background: #7c7c97;
}